.gameplay{
    padding: 70px;
    background-image: url('../background/gameplay_background.jpg');
    z-index: -2;
    font-size: 20px;
    text-shadow: 1px 1px 2px pink;
    display: flex;
    background-size: cover;
    justify-content: center;
}

.status{
    font-size: 40px;
    color: whitesmoke;
    padding: 40px;
    background: black;
    margin-left: 30px;
    margin-top: 20px;
    display: inline-block
}

.ship_status{
    font-size: 20px;
}
.ship_status a {
    color: green;
}

.grid{
    display: grid;
    grid-template-columns: repeat(10, 50px);
    grid-template-rows: repeat(10, 50px);
    gap: 2px 2px;
    position: relative;
    cursor: pointer;
    background-image: url('../background/ocean.jpg');

}

.player{ 
    color:green;
}

.enemy{
    color: red;
}

.gridItem{
    border: black solid 1px;
    z-index: 1;
}
.gridItem:hover{
    background: black;
}

.ship_image{
    width: 100%;
    height: 100%;
    object-fit: fill;
    object-position: center;
}

.ship_container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}

#player_model{

}

#enemy_model{
    
}

.character{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 180px;
    height: 300px;
}

.character .arrow{
    height: 60px;
    width: 50px;
}

.enemy_turn{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.player_turn{
    display:flex;
    flex-direction: column;
    align-items: center;
}

#characters{
    display: flex;
    flex-direction: row;
    padding-top: 15px;
    padding-left: 10px;
    gap: 15px;
}

.damage {
    animation: damage_animation 1s;
}

@keyframes damage_animation {
    25%{
        rotate: 10deg;
        filter: invert(var(--value, 100%)); --value: 100%;
    }
    50%{
        filter: invert(var(--value, 100%)); --value: 0%;
    }
    75%{
        filter: invert(var(--value, 100%)); --value: 100%;
    }
}

#popup {
    position: fixed;
    width: 300px;
    height: 200px;
    background: white;
    border: 1px solid black;
    padding: 10px;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: block;
}