@media screen and (min-width: 800px) {   
    .logo {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .buttons {
        display: flex;
        flex-direction: column;
        padding-left: 200px;
        padding-right: 200px;
        padding-bottom: 200px;
        gap: 50px;
    }

    .speed_settings{
        font-size: 40px;
        color: white;
    }

    .buttons div{
        align-self: center;
        display: flex;
        gap: 30px;
    }

    .button_container button{
        width: 600px;
    }

    .buttons button{
        height: 40px;
        background: blue;
        font-size: 30px;
        cursor: pointer;
    }

    .left_side_button{
        display: none;
    }

    .button_container:hover > .left_side_button
    {
        display: block;
        position: absolute;
        animation: identifier linear 1s forwards;
        pointer-events: none;
    }

    
    
    #options{
        display: flex;
        margin-top: 50px;
    }
    

    body{
        /* background-image: url("/assets/start-screen/ship.jpg");  */
        background-image: url("../background/background.png");
        background-size: cover;
        height: 100vh;
        width: 100vw;
    }

    .screen h1{
        color: red;
        text-align: center;
        font-size: 100px;
    }
}


@keyframes identifier {
    0%{
        left: 25%
    }

    100%{
        left: 70%;
    }
}